<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.noactivity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Noactivity">
        <activity

            android:name=".ThirdActivity"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <!--只有<data> 标签中指定的内容和Intent中携带的Data完全一致时，当前活动才能够响应该Intent-->
                <data android:scheme="https"/>
            </intent-filter>
        </activity>




        <activity
            android:name=".SecondActivity"
            android:launchMode="singleInstance"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.noactivity.ACTION_START" />

                <category android:name="com.example.noactivity.MY_CATEGORY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            />
        </activity>


        <activity
            android:name=".FirstActivity"
            android:launchMode="singleTask"
            android:exported="true"
            android:label="This is FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>